@charset "UTF-8";

/*
    Filename: boop-style.css
    Author: Gabriel Beltran
    Date: 8/28/2022
    Purpose: To properly configure the width and height of Boop Anya.

*/

html, body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}

.container
{
    width: 100%;
    height: 100%;
    text-align: center;
}

.container-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pointer
{
    position: absolute;
}
